
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: -apple-system, sans-serif;
  background-color: #e7f6ff;
}

h1,h2,h3, {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}


header {
  border-bottom: 1px solid #eaeaea;
  .headerLeft{

  }
}

.content {
  h1 {
    margin: 0;
  }
}